$white: #ffffff;
$black: #000000;
$grey: #808080;

$accent: #ea0029;
$disabled: #bec5cc;

$bg-accent: linear-gradient(
  255.35deg,
  #dc3131 0.83%,
  rgba(255, 79, 79, 0) 108.93%
),
linear-gradient(0deg, #ff5e56, #ff5e56);

$box-shadow-accent: 0px 0px 24px 0px #ea002954;
$box-shadow-secondary: 0px 0px 24px 0px #ea002954;
