@use "variables" as *;

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

@mixin phone {
  @media screen and #{$sm} {
    @content;
  }
}

@mixin tablet {
  @media screen and #{$lg} {
    @content;
  }
}

@mixin tablet-sm {
  @media screen and #{$md} {
    @content;
  }
}

@mixin desktop {
  @media screen and #{$xl} {
    @content;
  }
}

@mixin no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}
